/* Place CSS styles here */
body{
    color: #ff8800;
    background-color: #FFDAC5;
    font-size: 30px;

}
p{
    color: #e4b577; 
    font-size: 2em;
}
h1 {
    color: #ff8800;
    text-align: center;
    background-color: #f5b36c;
}
p { 
    color: #ff8800;
    font-family: "Domine", serif;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 1000;
    text-transform: normal;
    text-decoration: underline dotted #e16baa;
    text-shadow: 1px 1px 5px #000000;
    width: auto;
}
.hellooo {
    text-align: center;
    color: #ff0077;
    margin-top: 120px;
    
}
.bottomlink {
    text-align: center;
    color: #ff8800;
}
div { 
    color:#ff8800;
    text-align: center;
    width: auto;

}
.topleftbox {
    background-color: #f5b36c;
}

.wtprus {
    background-color: #e16baa;
    text-emphasis-color: #ff8800;
    width: auto;
    margin-top: 240px;
}
.logo {
    text-align: left;
    width: 500px;
}
.banner {
    width: 1700px;
    height: 500px;
}
.searchbar {
    background-color:#FFDAC5;
    background-size: auto;
    margin-left: -270px;
    margin-top: -300px;

}
.magicon {
position: absolute;

}